# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.Tutoriel.iml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\leofa\OneDrive\Documents\CASIO\fx-9860G SDK\Tutoriel\.idea\.idea.Tutoriel.dir\.idea/dataSources/
/dataSources.local.xml
